.edit_col_input {
  margin-bottom: 0.4rem;

  & > label {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }

  & > input {
    font-size: 1.6rem;
    padding: 0.8rem;
    background-color: #f0f0f0;
    border: none;
    border-bottom: 0.2rem solid #000;
    outline: none;
    width: 100%;

    &:invalid {
      border-bottom-color: var(--danger-color);
    }

    &:valid {
      border-bottom-color: var(--success-color);
    }
  }
}
