.body {
  padding: 1.2rem 1.2rem 0 1.2rem;
  border: 0.2rem solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  height: calc(100dvh - 8.6rem);
  overflow-y: scroll;

  .body_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1.2rem;

    .btn {
      border: 0.2rem solid var(--success-color);
      font-size: 1.6rem;
      background-color: #cdf4dd;
      transition: all 350ms;

      &:hover,
      &:focus {
        background-color: #fff;
      }

      &:active {
        box-shadow: 0rem 0rem 0rem 0.4rem #cdf4dd;
      }
    }
  }

  & > h1 {
    text-align: center;
    margin-bottom: 1.2rem;
  }

  .columns {
    display: grid;
    gap: 1.2rem;
    overflow-x: scroll;

    .column {
      & > h2 {
        font-size: 1.8rem;
        text-align: center;
        margin-block: 0.8rem;
      }

      // height: 100dvh;
      border-radius: var(--border-radius);
      padding-inline: 0.8rem;
      background-color: #dbeeff;
    }
  }
}
