.card {
  border: 0.2rem solid #e3e3e3;
  border-radius: var(--border-radius);
  background-color: #fff;
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.badges {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

.content {
  & > h2 {
    font-size: 2.4rem;
    margin-bottom: 0.6rem;
  }

  & > p {
    font-size: 1.6rem;
    color: #828282;
    margin-bottom: 0.6rem;
  }
}

.notes {
  margin-top: 1.2rem;

  label {
    font-size: 1.4rem;
    font-family: "DMSansSemiBold";
    color: #828282;
  }

  textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 1.6rem;
    opacity: 1;
  }

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.footer {
  margin-top: 0.8rem;
  font-size: 1.4rem;

  .modal_btns {
    gap: 1.2rem;

    .edit_btn {
      background-color: var(--info-color);
      padding: 0.8rem;
      border: 0.2rem solid var(--info-color);
      transition: all 350ms;

      &:hover,
      &:focus {
        background-color: var(--info-color-50);
      }

      &:active {
        box-shadow: 0rem 0rem 0rem 0.4rem var(--info-color-50);
      }
    }

    .del_btn {
      background-color: var(--danger-color);
      padding: 0.8rem;
      border: 0.2rem solid var(--danger-color);
      transition: all 350ms;

      &:hover,
      &:focus {
        background-color: var(--danger-color-50);
      }

      &:active {
        box-shadow: 0rem 0rem 0rem 0.4rem var(--danger-color-50);
      }
    }

    .del_modal_body {
      & > p {
        margin-bottom: 1.2rem;
      }

      .del_modal_btn {
        background-color: var(--success-color);
        border: 0.2rem solid var(--success-color);
        transition: all 350ms;
        font-family: "DMSansSemiBold";

        &:hover,
        &:focus {
          background-color: var(--success-color-50);
        }

        &:active {
          box-shadow: 0rem 0rem 0rem 0.4rem var(--success-color-50);
        }
      }
    }
  }

  .date {
    color: #828282;
    gap: 0.4rem;
  }
}

.card_link {
  text-decoration: none;
  display: flex;
  gap: 0.4rem;
  margin-block: 0.4rem;

  & > a > img {
    width: 2.4rem;
    height: 2.4rem;
  }
}
