.sidebar {
  height: 100%;
  border: 0.2rem solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  padding: 1.2rem;
  height: calc(100dvh - 8.6rem);
  // font-size: 1.6rem;

  h1 {
    text-align: center;
    margin-bottom: 1.2rem;
  }

  .btn {
    background-color: #b7b9ff;
    border: 0.2rem solid var(--primary-color);
    transition: all 350ms;
    outline: none;

    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
    }
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
