.h1 {
  font-family: "DMSans";
  font-weight: 900;
  font-style: normal;
}

.container {
  display: grid;
  grid-template-columns: 0.15fr 0.85fr;
  grid-template-rows: 1fr;
  width: 100%;
  gap: 2rem;
  overflow: hidden;
}
